body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased
}

body .clearfix {
    clear: both;
    float: none
}

body .center {
    width: 75%;
    margin: 0 auto
}

body .btn {
    background: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    display: block;
    max-width: 120px;
    border: none;
    cursor: pointer
}

body .btn-success {
    background: #179613;
    transition: 0.3s all
}

body .btn-success:hover {
    background: black
}

body .subheader {
    font-size: 38px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px
}

body input[type=text],
body textarea {
    width: 100%;
    min-height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    text-align: center;
    margin-bottom: 5px;
    transition: 0.3s all
}

body input[type=file] {

    width: 100%;
    min-height: 30px;
    padding: 3px;
    text-align: center;
    margin-bottom: 5px;
    transition: 0.3s all
}

body input[type=text]:focus,
body textarea:focus {
    box-shadow: 0px 0px 5px #444 inset
}

body textarea {
    min-width: 100%;
    max-width: 100%;
    max-height: 300px;
    height: 150px;
    min-height: 150px
}

body #header {
    height: 120px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #61DAFB
}

body #header #logo {
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px
}

body #header #logo img {
    display: block;
    float: left;
    height: 60px;
    margin-top: -9px;
    margin-right: -10px;
    animation: girar infinite 30s linear
}

@keyframes girar {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

body #header #logo #brand {
    display: block;
    margin: 0;
    float: left
}

body #header #menu {
    width: 70%;
    float: right;
    font-size: 18px
}

body #header #menu ul {
    line-height: 85px;
    width: 60%;
    float: right
}

body #header #menu ul li {
    list-style: none;
    height: 46px;
    display: inline-block;
    margin: 0px 15px 0px 15px
}

body #header #menu ul li a {
    text-decoration: none;
    color: #444;
    transition: 0.3s all
}

body #header #menu ul li a:hover {
    color: #38A7C5
}

.active {
    border-bottom: 2px solid #38A7C5
}

body #slider {
    width: 100%;
    background: #61DAFB;
    color: white;
    text-shadow: 0px 0px 5px #444
}

body #slider h1 {
    margin-top: 0.2px;
    padding: 0;
    text-align: center
}

body #slider .btn-white {
    display: block;
    background: white;
    color: #585858;
    padding: 10px;
    width: 100px;
    height: 35px;
    margin: 40px auto 0 auto;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 35px;
    box-shadow: 0px 0px 5px #585858;
    border-radius: 4px;
    transition: 0.3s all
}

body #slider .btn-white:hover {
    background: #444;
    color: white
}

body #slider.slider-big {
    height: 350px
}

body #slider.slider-big h1 {
    padding-top: 130px
}

body #slider.slider-small {
    height: 150px
}

body #slider.slider-small h1 {
    padding-top: 53px
}

body #content {
    width: 70%;
    float: left;
    min-height: 767px;
    margin-right: 20px
}

body #content .mid-form {
    width: 50%;
    margin: 0 auto
}

body #content .mid-form .form-group input,
body #content .mid-form .form-group textarea {
    text-align: left
}

body #content .mid-form .form-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 17px;
    margin-top: 10px
}

body #content .mid-form .form-group.radiobuttons {
    margin-top: 15px;
    margin-bottom: 15px;
    float: left
}

body #content .article-item {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 20px 0 20px 0;
    text-align: left
}

body #content .article-item.article-detail .subheader {
    margin-top: 5px;
    margin-bottom: 15px
}

body #content .article-item.article-detail .image-wrap {
    float: none;
    width: 100%;
    height: 300px
}

body #content .article-item.article-detail .image-wrap img {
    width: 100%;
    height: auto
}

body #content .article-item .image-wrap {
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc
}

body #content .article-item .image-wrap img {
    height: 100%;
    text-align: center
}

body #content .article-item h2 {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 7px
}

body #content .article-item .date {
    display: block;
    width: 100%;
    color: #7a7a7a
}

body #content .article-item a {
    display: block;
    color: #444;
    text-decoration: none;
    margin-top: 10px;
    transition: 0.5s all
}

body #content .article-item a:hover {
    text-decoration: underline
}

body #content .article-item .btn-danger {
    text-align: center;
    display: inline-block;
    color: white;
    background: red;
    text-decoration: none;
    margin-top: 10px;
    transition: 0.5s all
}

body #content .article-item .btn-danger:hover {

    text-decoration: underline
}

body #content .article-item .btn-warning {
    text-align: center;
    display: inline-block;
    color: white;
    background: orange;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 15px;
    transition: 0.5s all
}

body #sidebar {
    width: 25%;
    float: left
}

body #sidebar .sidebar-item {
    background: #F7F7F7;
    padding: 15px;
    margin-top: 20px
}

body #sidebar .sidebar-item h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #eee
}

body #sidebar .sidebar-item .btn {
    margin: 15px auto 0 auto
}

body #footer {
    background: #f7F7F7;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #444
}

body #footer p {
    margin: 0;
    padding: 0
}

.thumb {
    width: 170px;
    float: left;
}

@media (max-width:1489px) {
    body .center {
        width: 85%
    }
}

@media (max-width:1314px) {
    body .center {
        width: 95%
    }

    body #header #menu ul {
        width: auto
    }
}

@media (max-width:858px) {
    body #header #logo {
        float: none;
        width: 245px;
        margin: 0 auto;
        margin-top: 20px
    }

    body #header #menu,
    body #header #menu ul {
        clear: both;
        float: none;
        width: 100%;
        margin: 0;
        padding: 0;
        line-height: 43px
    }

    body #content {
        float: none;
        width: 100%
    }

    body #content .mid-form {
        width: 90%
    }

    body #sidebar {
        float: none;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 50px
    }
}

@media (max-width:493px) {
    body #header {
        min-height: 130px;
        overflow: hidden
    }

    body #header #menu,
    body #header #menu ul {
        line-height: 50px
    }

    body #header #menu,
    body #header #menu ul li {
        margin-left: 7px;
        margin-right: 7px
    }

    body #slider .btn-white {
        margin-top: 20px
    }

    body #slider.slider-big {
        height: 180px
    }

    body #slider.slider-big h1 {
        font-size: 19px;
        padding-top: 30px
    }

    body #slider.slider-small {
        height: 100px
    }

    body #slider.slider-small h1 {
        padding-top: 35px
    }
}